<!DOCTYPE html>
<html>
<head>
	<title>IPL Vis</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">
</head>
<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <a href="/"><h2 class="inactive underlineHover">Home </h2></a>
    <h2 class="active"> Log In </h2>
    <a href="/signup"><h2 class="inactive underlineHover">Sign Up </h2></a>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{{ url_for('static', filename = 'user1.png') }}" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form action="/login" method="POST">
      <input type="email" id="login" class="fadeIn second" name="email" placeholder="Email">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
    {% if error %}
      <p>{{ error }}</p>
    {% endif %}
<!-- 
	Will add in future
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>
 -->
  </div>
</div>
</body>
</html>